@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
	--ff-primary: "Kumbh Sans", sans-serif;

	--clr-primary-01: hsl(26, 100%, 55%);
	--clr-primary-02: hsl(25, 100%, 94%);

	--clr-neutral-01: hsl(220, 13%, 13%);
	--clr-neutral-02: hsl(219, 9%, 45%);
	--clr-neutral-03: hsl(220, 14%, 75%);
	--clr-neutral-04: hsl(223, 64%, 98%);
	--clr-neutral-05: hsl(0, 0%, 100%);
	--clr-neutral-06: hsl(0, 0%, 0%, 0.7);

	--fw-regular: 400;
	--fw-bold: 700;
}
