.hero__right {
	padding: 1.4em;
}

.main-header {
	color: var(--clr-primary-01);
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.description {
	color: var(--clr-neutral-03);
    line-height: 1.5;
}
