.nav::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: var(--clr-neutral-06);
	transition: all 0.6s;
	z-index: -1;
}

.nav {
	background: var(--clr-neutral-05);
	position: absolute;
	top: 0;
	left: -100%;
	transition: all 0.3s;
	padding: 1.5em 1.5em 0;
	width: 70%;
	height: 100%;
}

.nav ul {
	font-weight: var(--fw-bold);
	margin-top: 3em;

	gap: 1.5em;
}

.nav__link:hover {
	border-bottom: 4px solid var(--clr-primary-01);
}

.nav--active {
	left: 0;
}
